### Verify

Akin to other Ops Stages, Verify is propelled to drive forward our [north star metric](https://blog.amplitude.com/product-north-star-metric) of [SMAU](/handbook/product/ops-section-performance-indicators/#verify-verifyci---gmau-smau---unique-users-triggering-pipelines), which is unique users triggering pipelines. 

With millions of developers using GitLab CI globally, we want organizations to ship their code as fast as possible without compromising quality, security, ease of use or the integrity of their software. We believe that we can empower users and enterprises to employ the most advanced best practices for Continuous Integration for use in application development across Data, ML/AI, Infrastructure as Code, as well as Operations Workflows.

In the next two quarters, to make this happen we will be: 

1. Delivering on our promise of [Speedy, reliable pipelines](https://about.gitlab.com/direction/ops/#speedy-reliable-pipelines) by doubling down on reducing our technical debt/bug backlog via [gitlab&5123](https://gitlab.com/groups/gitlab-org/-/epics/5123) and adding [Sticky Runners](https://gitlab.com/gitlab-org/gitlab/-/issues/17497)
1. Empowering you to take advantage of [Operations for All](https://about.gitlab.com/direction/ops/#operations-for-all) with our new new pipeline editing experience via [gitlab&4540](https://gitlab.com/groups/gitlab-org/-/epics/4540) 
1. Expanding your awareness of code coverage in [gitlab&2838](https://gitlab.com/groups/gitlab-org/-/epics/2838) enabling you to make more informed decisions about your pipelines from [Smart Feedback Loops](https://about.gitlab.com/direction/ops/#smart-feedback-loop).

We have also been working on 3-year visions for groups within Verify, such as Continuous Integration's mocks which can be found in [gitlab4793](https://gitlab.com/groups/gitlab-org/-/epics/4793) and Pipeline Authoring's mocks located in [gitlab&4534](https://gitlab.com/groups/gitlab-org/-/epics/4534). 

#### Verify Stage Categories

<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>

#### Pricing

<%= partial("direction/ops/tiering/verify") %>
