.container
  .row.u-margin-top-lg.u-margin-bottom-sm.text-center
    .col-md-12
      %h1 Past Speakers
  #speaker-list-outer.row.u-margin-bottom-md
    #speaker-list-inner{style: "max-height: 700px; overflow: hidden;"}
      - data.speakers_commit.each do |speaker|
        -if speaker.speakingregions.include?("Featured") && speaker.years.include?(2020)
          .col-md-4
            = partial "includes/events/speaker", locals: {name: speaker.name, title: speaker.title, company: speaker.company, photourl: speaker.photourl}

  #view-more-speakers.u-margin-bottom-md.text-center
    .btn.cta-btn.btn-purple-inv View all speakers

  :javascript
    var viewMoreSpeakersButtonTarget = document.querySelector('#speaker-list-inner');
    var viewMoreSpeakersButton = document.querySelector('#view-more-speakers .btn');
    viewMoreSpeakersButton.addEventListener('click', function()
    {
      viewMoreSpeakersButtonTarget.style.maxHeight = 'inherit';
      viewMoreSpeakersButtonTarget.style.overflow = 'unset';
      viewMoreSpeakersButton.style.display = 'none';
    });
