---
title: GitLab CI/CD Training
suppress_header: true
description: "Learn how to set up continuous Integration/Continuous Deployment (CI/CD) for your software production projects to improve product delivery times and quality"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_cicd" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Day 1: Part 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 9:30a
                  %td GitLab Overview and Flow
                  %td 
                    %ul
                      %li What is GitLab
                      %li Today's Software Delivery Landscape 
                      %li GitLab Workflow and Example
                      %li What is CI/CD
                      %li GitLab's CI/CD Workflow 
                      %li Why Use CI/CD
                      %li Dogfooding: Building GitLab with GitLab 
                      %li <strong>Demo</strong>: GitLab Introduction/Navigation
                %tr
                  %td 9:30a - 10:30a
                  %td Architecture and Runners
                  %td 
                    %ul
                      %li GitLab CI/CD Basic Flow 
                      %li Configuration File and Runners 
                      %li Runner Architecture
                      %li Runner Characteristics and Types 
                      %li Advanced Runner Options 
                      %li Common Executors
                      %li <strong>Demo</strong>: Runner Registration 
                      %li Config.toml File
                %tr
                  %td 10:45a - 11:15a
                  %td Anatomy of a Pipeline
                  %td 
                    %ul
                      %li Anatomy of a CI/CD Pipeline 
                      %li Basic Pipeline Builds
                      %li Directed Acyclic Graph Pipelines 
                      %li Child and Parent Pipelines 
                      %li GitLab Pipeline Graph
                      %li .gitlab-ci.yml Example
                      %li Basic Parameters: Definitions and Examples
                      %li <strong>Demo</strong>: GitLab Pipeline Configuration
                      %li <strong>Hands on Lab</strong>: Create a CI Pipeline
                %tr
                  %td 11:15a - 12:00p
                  %td Advanced Keywords and DRY
                  %td 
                    %ul
                      %li Advanced Parameters 
                      %li Dependencies
                      %li Needs
                      %li Parallel
                      %li Trigger
                %tr
                  %td 12:00 - 1:00p
                  %td Lunch and Q&A
                  %td 
                    %ul
                      %li Lunch Break
                      %li Q&A
      .col-md-12
        %h3 Day 2: Part 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 10:00a
                  %td Variable Precedence & Scoping
                  %td 
                    %ul
                      %li <strong>Microlearning Game- Reviewing Day 1</strong>  
                      %li <strong>Hands On Lab</strong>: Create a CI/CD Pipeline
                      %li <strong>Hands on Lab</strong>: Define a Pipeline with Environments
                      %li <strong>Hands On Lab</strong>: Variable Hierarchy 
                      %li Variable Priority
                %tr
                  %td 10:00a - 10:30a
                  %td Job Policy Patterns
                  %td 
                    %ul
                      %li <strong>Hands On Lab</strong>: Scaffold Out a Job Policy Pattern
                      %li <strong>Microlearning Game: Pipeline Review</strong>
                %tr
                  %td 10:45a - 11:15a
                  %td Artifacts and Dependencies
                  %td 
                    %ul
                      %li <strong>Hands On Lab</strong>: Artifact Hierarchy
                %tr
                  %td 11:15a - 12:00p
                  %td Registry & Deployments
                  %td 
                    %ul
                      %li What are Package and Container Registries?
                      %li <strong>Hands On Lab</strong>: GitLab Docker Registry
                %tr
                  %td 12:00 - 1:00p
                  %td Security Scanning and Reports
                  %td 
                    %ul
                      %li <strong>Hands On Lab</strong>: Enabling Security Scanning in Pipelines
        <a href='https://drive.google.com/file/d/1VM7m3TlkiCEF4Ptunc2X22mcKfZ-Ss0e/view?usp=sharing'> Download the syllabus</a>  
        = partial "includes/services/requirements", locals: { id: "training_sessions_cicd" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_cicd" }
